prune .idea
prune data
prune results
prune .vscode
prune .claude
prune paper
prune datasets/FEMNIST
prune tmp
exclude tmp.py
exclude **/__pycache__/*
exclude test*
exclude *RESULT*
exclude *images*
exclude *.log
exclude *.egg-info
exclude result_*
exclude PLOTS*
exclude experiments/scripts/main_*.py
exclude experiments/scripts/ablation_*.py
exclude experiments/scripts/plot_sharing*.py